$white: #f5f5f3;
$primary: #e06666;
$secondary: #161616;
$light: #ada6aa;
$dark: #a08179;
$body-color: $white;
$body-bg: $secondary;
$border-color: rgba(245, 245, 243, 0.25);
// import boostrap
@import "../../node_modules/bootstrap/scss/bootstrap";

html * {
  box-sizing: border-box;
}

::selection {
  background-color: $dark;
  color: $white;
}

html {
  scrollbar-width: thin;
  scrollbar-color: $light $secondary;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: $secondary;
}
body::-webkit-scrollbar-thumb {
  background-color: $light;
  border: 3px solid $secondary;
  border-radius: 10px;
}
.navbar {
  animation: fade-down 0.7s ease-in-out 2s forwards;
  // border-bottom: 1px solid $border-color;
  opacity: 0;
}

.navbar-nav {
  position: relative;
  // border-left: 1px solid $border-color;
  height: 12vh;
  padding: 2.4rem 4rem;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Lato", serif;
}

.fa-brands {
  font-size: 1.1rem;
}

.nav-link {
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
}

#nav-logo {
  // width: calc(100% / 3);
}
#nav-logo-section {
  display: flex;
  height: 12vh;
  font-family: "Lato", serif;
  font-size: 45px;
  letter-spacing: 7.5px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
}

#nav-link-section {
  display: flex;
  // width: calc(200% / 3);
  font-size: 1.1rem;
}

#nav-social-section,
#nav-contact-section {
  justify-content: space-around;
  // flex-basis: calc(100% / 3);
}

svg {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.7s ease-in-out;
}

path {
  transition: all 0.7s ease-in-out;
  fill: transparent;
  stroke-dasharray: 1600;
  //stroke-dasharray: 1600;
  stroke-dashoffset: -1600;
  //stroke-dashoffset: 0;
  stroke-width: 0;
  stroke: #fff;
  animation: 2s draw ease-in-out forwards;
  // transform: scale(.5);
  // transform-origin: center;
}

@keyframes draw {
  100% {
    stroke-dasharray: 1600;
    stroke-dashoffset: 0;
    stroke-width: 1px;
    // transform: scale(1);
  }
}

.filled {
  opacity: 0;
}

.done {
  opacity: 1;
  fill: $white;
  transform: scale(1);
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 2 {
  $property: height;
  $property-2: width;
  @if $i == 2 {
    $property: width;
    $property-2: height;
  }
  .l#{$i} {
    #{$property}: 100%;
    #{$property-2}: 1px;
    animation-name: l#{$i};
    animation-delay: 2.9s - (0.4s * ($i - 1));
    left: 0;
    bottom: 0;
  }
}

.l1,
.l2 {
  position: absolute;
  background: transparent;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

// .l1 {
//   left: 0;
//   bottom: 0;
//   height: 100%;
//   width: 1px;
//   animation-name: l1;
//   animation-delay: 2.8s;
// }

// .l2 {
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 1px;
//   animation-name: l2;
//   animation-delay: 2.5s;
// }

@for $i from 1 through 2 {
  $property: height;
  @if $i == 2 {
    $property: width;
  }
  @keyframes l#{$i} {
    0% {
      #{$property}: 0;
      background: $border-color;
    }
    100% {
      #{$property}: 100%;
      background: $border-color;
    }
  }
}

@for $i from 1 through 3 {
  .delay-#{$i} {
    animation-delay: 2.9s + (0.4s * ($i - 1)) !important;
  }
}
